@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-Black.woff") format('woff');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro.woff") format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-BlackItalic.woff") format('woff');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-BoldItalic.woff") format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-Italic.woff") format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-LightItalic.woff") format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-Medium.woff") format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-MediumItalic.woff") format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "e-UkraineHead";
    src: url("../fonts/e-UkraineHead-Bold.woff") format('woff');
    font-weight: 700;
    font-display: swap;
}
